[Desktop Entry]
Name=FedBerry-Config
Comment=Configure FedBerry system options
Icon=preferences-other
Exec=pkexec fedberry-config
Type=Application
Categories=Settings;System;HardwareSettings;
StartupNotify=true
Terminal=true
X-Desktop-File-Install-Version=0.23
